.innerbody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 10rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, .f1 {
  color: var(--text-color-h1);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  margin: .4em;
  padding: 0;
  
}
