
.card {
  width: 240px;
  height: 310px;
  background: var(--bg-body);
}

.card-info {
  border-top: .133rem solid var(--bg-card-line);
  color: var(--text-color-card);
  margin: 3%;
}
img {
  background-color: var(--bg-button);
  border-radius: 100%;
  margin: 3% 0;
}
  