.card, .card-info {
  /* background-color: rgb(3, 3, 3); */
  color: rgb(252, 249, 249);
  
}

.card {
  width: 240px;
  height: 300px;
  
}
.card-info {
  border-top: 2px solid rgb(29, 241, 10);
  margin: 2%;
}
img {
  background-color: rgba(169, 4, 245, 0.87);
  border-radius: 100%;
  margin: 5%;
}

