:root, .dark {
  --text-color-h1: rgb(19, 226, 19);
  --text-color-card: rgb(240, 240, 240);
  --text-color-button: var(--text-color-card);
  --text-color-searchbox: var(--text-color-card);
  --bg-body: linear-gradient(
    to bottom left, 
    rgb(2, 2, 2), 
    rgb(22, 22, 22),
    rgb(33, 33, 34), 
    rgb(13, 13, 14), 
    rgb(2, 2, 2));
  --bg-input: #333;
  --bg-scroller: #333;
  --bg-card: var(--bg-body);
  --bg-button: var(-bg-input);
  --bg-card-line: rgb(19, 226, 19);
  --bg-button: rgb(154, 73, 230);
  --bg-button-focus: rgb(170, 106, 230);
  --bg-scrollbar-thumb: rgba(0, 0, 0, 0.5);
}

.light {
  --text-color-h1: rgb(9, 10, 117);
  --text-color-card: rgb(0, 0, 0);
  --text-color-button: #fff;
  --text-color-searchbox: var(--text-color-card);
  --bg-body: linear-gradient(
    to bottom left, 
    rgb(245, 245, 245), 
    rgb(250, 250, 250),
    rgb(255, 255, 255), 
    rgb(250, 250, 250), 
    rgb(245, 245, 245));
  --bg-input: #fff;
  --bg-scroller: rgb(192, 212, 243);
  --bg-card: var(--bg-body);
  --bg-button: var(-bg-input);
  --bg-card-line: var(--text-color-h1);
  --bg-button: var(--text-color-h1);
  --bg-button-focus: rgb(78, 79, 173);
  --bg-scrollbar-thumb: rgba(9, 10, 117, 0.5);
}

button {
  position: absolute;
  padding: .5em;
  border-radius: 3px;
  background-color: var(--bg-button);
  color: var(--text-color-button);
  border-style: none;
  bottom: 1em;
}
button:active {
  border: 2px solid var(--bg-button-focus);
  background: var(--bg-button-focus);
  bottom: calc(1em - 2px);
  
}
/* med queries - move button on desktop devices to top right */
@media only screen and (min-width: 540px) {
  button {
    bottom: auto;
    right: .5em;
    top: .5em;
    border-radius: 5px;
  }
  button:active {
    bottom: auto;
    top: calc(.5em - 2px);
    right: calc(.5em - 2px);
    
  }
}

