.Scroll {
  -ms-overflow-style: none;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 2% 15% 0 15%;
  background: rgba(255, 255, 255, 0.01);
  max-height: 65vh;
}
.Scroll:hover {
  border: 1px solid rgb(21, 255, 0);
}

.Scroll::-webkit-scrollbar {
  width: 0.4em;
}


.Scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15%;
                             
}
