.Scroll {
  -ms-overflow-style: none;
  border-radius: 5px;
  background: var(--bg-scroller);
  width: 80%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: .4em;
}

.Scroll::-webkit-scrollbar {
  width: .4em;
}

.Scroll::-webkit-scrollbar-thumb {
  background-color: var(--bg-scrollbar-thumb);
  border-radius: 10%;                  
}
