input, .ba {
  margin: 0;
  background: var(--bg-input);
  color: var(--text-color-searchbox);
  outline: none;
  height: 2.8em;
  width: 240px;
  
}
input:focus {
  outline: 2px solid var(--text-color-h1);
}